
@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800&display=swap');


/**
This file contains the general and shared style of your application.
 */
body {
  
  font-family: 'Oxanium', cursive;
  font-size: large; /**calc(1em + 1vw)**/
  background: #1e122b;
  color: white;
}

button{
  margin: 10px;

}

.btn{
  margin: 10px;
}

.logoImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 25%;
}

.logoImgSmall{

  margin-bottom: 1vw;
  margin-top: 1vw;
  width: 65%;

}

.outlineWhite-Dashboard{
  margin-left: 1vw;
  margin-top: 0.8vw;
}

.DashboardForm{
  margin-left: 10vw;
  margin-top: 8vw;
}

.outlineWhite-Form{
  margin-left: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}



*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;

}




/* Medium devices (tablets, 573px and up) */
@media (min-width: 576px)  {
    
  .outlineWhite-Dashboard{
   
    margin-top: 1vw;
    
  }

}



/*phone portrait*/
@media (max-width: 575.98px) { 

}
