
@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800&display=swap');

/**
This file contains the general and shared style of your application.
 */
body {
  
  font-family: 'Oxanium', cursive;
  font-size: large;
  background: #1e122b;
}

button{
  margin: 10px;

}

.btn{
  margin: 10px;
}

.logoImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 25%;
}

.logoImgSmall{

  margin-bottom: 1vw;
  margin-top: 1vw;
  width: 80%;

}

.outlineWhite-Dashboard{
  margin-left: 1vw;
  margin-top: 0.8vw;
}


*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;

}
